* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navber */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px;
  color: white;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 32px;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.btn {
  padding: 8px 16px;
  background-color: #30b868;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: #FA5C5C;
}
/* banner */
.banner{
    background-image: url('/assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.banner .banner-content{
    padding-top: 230px;
    padding-left: 330px;
    padding-right: 330px;
}
.banner .banner-content p{
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
}
.banner .banner-content h1{
    font-size: 72px;
    color: white;
    margin-bottom: 24px;
    font-weight: 700;
    line-height: 56px;
}